<div class="user-form-container ">
  <h3 class="table-title">Add API</h3>

  <!-- <h2>Hi there, <span class="user-name">{{userName}}</span></h2> -->
  <p class="subtext">Add a new organization, fill the details below</p>
<form class="user-form" #userForm="ngForm">
  <div class="input-row">
    <input type="text" name="engineOfUser" placeholder="Engine" [(ngModel)]="engineName" class="input-field" required />
    <!-- <input type="text" name="idofUser" placeholder="UserId" [(ngModel)]="userId" class="input-field" required /> -->
  </div>

  <div class="input-row">
    <input type="text" name="apiKey" placeholder="API Key" [(ngModel)]="apiKey" class="input-field" required />
    <!-- <input type="password" name="password" placeholder="Password" [(ngModel)]="password" class="input-field" required /> -->
          <!-- <select id="projectSelect" name="created_by" class="input-field custom-select" [(ngModel)]="created_by">
        <option [ngValue]="null" disabled hidden>Select User</option>
        <option *ngFor="let user of usersList" [value]="user.id">{{ user.name }}</option>
      </select> -->
  </div>

   <label for="UserCreated">User Created by</label>

     <select id="projectSelect" name="created_by" class="input-field custom-select" [(ngModel)]="created_by">
        <option [ngValue]="null" disabled hidden>Select User</option>
        <option *ngFor="let user of usersList" [value]="user.id">{{ user.name }}</option>
      </select>

        <!-- <div class="input-row">
      <label for="projectSelect">Created by</label>
      <select id="createdBySelect" name="created_by"  class="form-input custom-select" [(ngModel)]="created_by">
        <option value="" disabled selected hidden>Select User</option>
        <option *ngFor="let user of usersList" [value]="user.id">{{ user.name }}</option>
      </select>
    </div> -->





  <div class="submit-container">
    <button type="submit" class="submit-btn" (click)="addUser()">Add</button>
  </div>
</form>

</div>
